<!DOCTYPE html>
<html Lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" contents="width=evice-width,intial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="about.css">
</head>

<body>
<section id="hero">
    <div class="container">
      <div class="info">
        <h1>ITECH Disc Forum</h1>
        <p>This website “ITECH Disc Forum” is made for providing a platform for having discussions. This forum provides the platform under one roof to interact with different members which maybe the experts in a particular field or a normal employee for seeking or to give advices. An online space platform on which anybody can have discussions regarding any research, academic documents or any latest technology free of cost. A website which helps to resolve doubts, related queries to any field by having discussions with other registered users.
        </p>
        <a href="/forum/partials/index.php" class="btn btn-success float-end">BACK</a>
      </div>
    </div>
  </section>
  </body>
  </html>
  
  